.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
docs_bu
data/
data
rsconnect
renv
renv.lock
output
fychem
input
input/
factsheets/output
factsheets/routput*
routput
assets
stand_van_zaken/assets
stand_van_zaken/output
stand_van_zaken/atlas_toestand.html
stand_van_zaken/verschil1_files
stand_van_zaken/waterflora_files
atlas_toestand_ecologie/assets
atlas_toestand_ecologie.html
atlas_toestand_ecologie_files
libs
map_oordeel_waterlichaam.jpg
rosm.cache
.Rprofile
.Renviron
.vscode/settings.json
temp_pclake
temp_pclake/*
test
test/*
test/
*.png

